<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<targets>
		<target xsi:type="Database"
      name="dbTarget"
      connectionString="Data Source=petmeetdb.catiwaaq1xhl.eu-central-1.rds.amazonaws.com,1433;Initial Catalog=testDb_repl;Persist Security Info=True;User ID=admin;Password=admin123;TrustServerCertificate=True"
      commandText="INSERT INTO Logs(datetime,message,level,logger) VALUES (@datetime,@msg,@level,@logger)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="dbTarget" />
	</rules>
</nlog>
